<!DOCTYPE html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
  >
<head>
    <meta charset="utf-8">
    {{ with .Site.Language.Params.htmlCode | default .Site.LanguageCode }}
    <meta http-equiv="content-language" content="{{ . }}">
    {{ end }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color">
</head>
<body>
    {{ block "main" . }}{{ end }}
</body>
</html>
